﻿.carousel.vertical .carousel-inner .item{-webkit-transition:0.6s ease-in-out top;-moz-transition:0.6s ease-in-out top;-ms-transition:0.6s ease-in-out top;-o-transition:0.6s ease-in-out top;transition:0.6s ease-in-out top;}
.carousel.vertical .active{top:0;}
.carousel.vertical .next{top:100%;}
.carousel.vertical .prev{top:-100%;}
.carousel.vertical .next.left,
.carousel.vertical .prev.right{top:0;}
.carousel.vertical .active.left{top:-100%;}
.carousel.vertical .active.right{top:100%;}
.carousel.vertical .item{left:0;}​